<div class="container-fluid">
    <div class="panel panel-primary" style="opacity: 0.9;">
        <div class="panel-heading">
            <h3>Inventory Mgmnt</h3>
        </div>
        <div class="panel-body " style="background-color: #42A5F5">
            <a href="/admin/createproduct" class="btn btn-danger btn-lg">Add New Product</a>
            <hr>
            <a href="/admin/viewproduct" class="btn btn-danger btn-lg ">View / Edit / Delete Products</a>
        </div>
    </div>
</div>